[submodule "lualog"]
	path = lualog
	url = https://github.com/xiyoo0812/lualog.git
[submodule "luaxlsx"]
	path = luaxlsx
	url = https://github.com/xiyoo0812/luaxlsx.git
[submodule "lcrypt"]
	path = lcrypt
	url = https://github.com/xiyoo0812/lcrypt.git
[submodule "lua/lua"]
	path = lua/lua
	url = https://github.com/xiyoo0812/lua.git

[submodule "lhttp"]

	path = lhttp

	url = https://github.com/xiyoo0812/lhttp.git

[submodule "lcurl"]
	path = lcurl
	url = https://github.com/xiyoo0812/lcurl.git
[submodule "ltimer"]
	path = ltimer
	url = https://github.com/xiyoo0812/ltimer.git
